html, body{
    height:100%;
}

.red
{
	width: 81%;
	height: 20em;
	margin: 0 auto;
	background: red;
}
.green
{   width: 81%;
    height: 20px;
    background: #00ff00;
    margin: 0 auto;
}
.dark_blue
{   width:20%;
	background: blue;
	float:left;
    margin-top:20px;
    height:50em;
    position: relative;
}
.yellow
{   width:60%;
	background: yellow;
	margin-top:20px;
    height:50em;
    float:left;
    position:relative;

}
.aqua_blue
{   width:20%;
	background: #00BCD4;
	margin-top:20px;
    height:50em;
    float:left;
    position:relative;

}
